* {
    font-family: 'Nunito', sans-serif;
}

a, ul, li, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d8d8d8;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.buttons button {
    padding: 15px 50px;
    border: none;
    background: tomato;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-loading {
    display: flex;
    justify-content: center;
}

.loading {
    animation-name: animaLoad;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-bottom: 30px;
}

@keyframes animaLoad {
    to {
        transform: rotate(360deg);
    }
}