* {
    font-family: 'Nunito', sans-serif;
}

a, span, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d8d8d8;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    padding: 50px 0 50px 0;
}

.buttons {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons button {
    margin-right: 20px;
}

.img-loading {
    display: flex;
    justify-content: center;
}

.loading {
    animation-name: animaLoad;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-bottom: 30px;
}

.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.busca-avancada {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.select-buscar {
    margin-top: 10px;
    font-size: 1.3em;
    padding: 10px 5px;
    text-transform: capitalize;
    background: #616161;
    color: #fff;
    border-radius: 5px;
}

@keyframes animaLoad {
    to {
        transform: rotate(360deg);
    }
}